/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

body {
    font-family: "Orbitron", sans-serif;
    color: white;
    background-image: url("image/universe.png");
    background-size: cover;
    text-align: center;
}

.btn
{
    background: white;
    padding: 6px 12px;
    border: none;
    font-family: inherit;
}
