@font-face {
    font-family: Corleone;
    src: url("godfather.ttf");
}

body {
    font-family: "Orbitron", sans-serif;
    color: #82a5ca;
    background-image: url("image/galaxy.webp");
    background-size: cover;
    text-align: center;
}

.btn
{
    background: white;
    padding: 6px 12px;
    border: none;
    font-family: inherit;
    font-weight: 800;
}

.exploration {
    border-bottom: 4px solid white;
    
}

#main-logo {
    width: 100px;
}