.main {
    margin-top: 100px;
    text-align: center;
}

.search-input {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:30px;
    padding-right:30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.logo-img { 
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 30px;
    border: none;
    background: #dfe1e5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    border-radius: 4px;
}