body {
    margin: 20px;
    color: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    border-bottom: 6px solid #d8cefe;
    background: #ddebf8;
}

.dotted-border {
    border: 1px dotted blue;   
}

.text-center {
    text-align: center;
}